/* Body */
* {
  margin: 0;
}
/* Body part */
body {
  background-color: #000000;
  color: white !important;
}

@media screen and (max-width: 1882px) {
  body {
    width: 100% !important;
    height:100% !important;
  }
}

/* Animated Background */
.area {
  background: -webkit-linear-gradient(to left, black, black);
  padding: 1rem;
}

/* Home Page */
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:100vh;
  gap: 20px;
}

@media (max-width: 800px) {
  .home,.about,.skill,.working,.contact-me {
    flex-direction: column !important;
  }
}

.my-pic {
  margin: 120px auto;
}
.card-img-top {
  width: 25rem !important;
  border-radius: 3%;
  box-shadow: 0 0 18px whitesmoke;
}

/* About page */
.about {
  padding-top:23.5rem;
  padding-bottom:13.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

/* Skills */
.Skills {
  display: flex;
  padding-top:17.5rem;
  padding-bottom:13.5rem;
  color: white;
}
.skill {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  gap: 30px;
}
.One,
.two,
.three,
.four {
  width: 90%;
}
.five {
  width: 85%;
}
.six {
  width: 70%;
}

.seven {
  width: 75%;
}
.eight {
  width: 75%;
}
.nine {
  width: 70%;
}
.ten {
  width: 60%;
}

/* Work page */
.work {
  display: flex !important;
  justify-content: center !important;
  z-index:99;
  padding-top:12.5rem;
  padding-bottom:13.5rem;
  color: white;
}


.working {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  z-index:99;
  grid-gap: 85px;
  gap:35px;
}



@media (max-width:700px){
  .structure{
    justify-content: center !important;
    height:650px !important;
    width:500px !important;
  }
  .workbtnHover{
    justify-content: center !important;
    font-size:15px !important;
    height:50px !important;
    width:120px !important;
    padding:10px !important;
  }
} 

@media (max-width:515px){
  .structure{
    height:650px !important;
    width:425px !important;
  }
  .workbtnHover{
    font-size:12px !important;
    height:50px !important;
    width:120px !important;
    padding:10px !important;
    margin-bottom: 10px;
  }
} 

@media (max-width:425px){
  .structure{
    height:750px !important;
    width:325px !important;
  }
  .workbtnHover{
    font-size:12px !important;
    height:50px !important;
    width:120px !important;
    padding:10px !important;
    margin-bottom: 10px;
  }
} 

.structure {
  height: 600px;
  width: 685px;
}

/* Contact Page */
.contact {
  display: flex;
  padding-top:17.5rem;
  padding-bottom:13.5rem;
  gap: 30px;
  color: white;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.workbtnHover{
  background-color:#064b70;
  color:white !important;
}

.btnHover:hover{
  background-color:#023b59;
  color:white;

}
/* Media Querys */
@media (max-width:800px){
  .home{
    margin-top:210px;
  }
}


@media (max-width:504px){
  .home{
    margin-top:250px;
  }
}


@media (max-width:400px){
  .home{
    margin-top:250px;
  }
  .skill{
    gap:0px;
  }
}



@media (max-width: 645px) {
  .about{
      padding-top:13.5rem;
      padding-bottom:7.5rem;
  }

  .about-image{
    width:350px !important;
    height:350px !important;
  }
  .about-content{
    padding-left: 1rem;
  }
}

@media (max-width: 360px) {
  .about{
    padding-top:12.5rem;
  padding-bottom:0.5rem;
  }
  .about-image{
    width:250px !important;
    height:250px !important;
  }
  .about-content{
    padding-left: 1rem;
  }
}

@media (max-width: 645px) {
  .contact-image{
    width:350px !important;
    height:350px !important;
  }
  
}

@media (max-width: 360px) {
  .contact-image{
    width:250px !important;
    height:250px !important;
  }
 
}




@media (max-width: 645px) {
  .form-set{
    width:350px !important;
    height:50px !important;
  }
  
  
}

@media (max-width: 360px) {
  .form-set{
    width:250px !important;
    height:50px !important;
  }
 
}


@media (max-width: 645px) {
  .Skills{
      padding-top:7.5rem;
    padding-bottom:0.5rem;
  }
  .work{
    padding-top:7.5rem;
    padding-bottom:0.5rem;
  }

  .contact{
    padding-top:7.5rem;
    padding-bottom:0.5rem;
  }

  .about-image{
    width:350px !important;
    height:350px !important;
  }
  .about-content{
    padding-left: 1rem;
  }
}

@media (max-width: 645px) {
  .buttons-query{
      padding-top:13.5rem;
    padding-bottom:0.5rem;
  }
}



